#############################################################

#
# Root directory of all persistent files
# Make sure it has at least 10GB of free space
#
PROJECT_PERSISTANT_STORAGE=/opt/storage


#
# Project name for docker-compose
#
PROJECT_NAME=ha


#
# Docker containers timezone (leave empty to use your system timezone)
#
DOCKER_TZ=""


#
# Home Assistant HTTP port (Docker external port mapping)
# For most usecases no need to change
#
HA_PORT=82


#
# MQTT broker port (Docker external port mapping)
# For most usecases no need to change
#
MQTT_PORT=81


#
# MQTT broker username and password
#
MQTT_USERNAME="mosquitto"
MQTT_PASSWORD="my_password"

#
#
# Zigbee Coordinator device path (leave empty if no Zigbee Coordinator is used)
# Note: If your OS support it, provide consitent path, i.e. /dev/serial/by-id/...
# Other example are "/dev/ttyACM0", "/dev/ttyUSB0", etc. but be awre it might change across reboots, making zigbee2mqtt unusable.
#
ZB_DEVICE_PATH="/dev/serial/by-id/usb-1a86_USB2.0-Serial-if00-port0"

#############################################################
